.speaker-card{

    display: flex;
    align-items: center;
    font-size: 40px;
    
}
.speaker-card:hover{
    background-color: rgb(122, 223, 91);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgb(99, 158, 102);

}
img{

    height: 200px;
    width: 200px;
    justify-content: space-between;
    border: 2px color(green);
}

figcaption{}

p{}